@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --font-bricolage: "Bricolage Grotesque", sans-serif;

  --background: #f9fafb;
  --text: #333333;
  --primary: #4a90e2;
  --secondary: #7b8d93;
  --accent: #f5a623;
  --muted: #c1c7cd;
}

.dark {
  --background: #1c1f23; /* Koyu gri - göz yormayan */
  --text: #e4e6eb; /* Açık gri/beyaz arası */
  --primary: #729bd2; /* Soft mavi açık ton - koyu zeminde öne çıkar */
  --secondary: #52656f; /* Orta koyulukta gri-mavi ton */
  --accent: #f7b953; /* Açık turuncu vurgu - koyuda da canlı */
  --muted: #3a3f45; /* Koyu gri ton - arka planın yumuşak tamamlayıcısı */
}

@theme inline {
  --font-bricolage: "Bricolage Grotesque", sans-serif;

  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
}

body {
  font-family: var(--font-bricolage);
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply antialiased text-base leading-relaxed;
  }

  main {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

@layer components {
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
